nav {
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    h1 {
        display: block;
        position: relative;
    }
    ul {
        list-style-type: none;
        li {
            display: inline;
            ul {
                list-style-type: none;
                li {
                    display: inline;
                }
            }
        }
    }
}
