nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.8);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    h5 {
        color: white;
    }
    ul {
        list-style-type: none;
        li {
            display: inline;
            a {
                color: white;
            }
            ul {
                list-style-type: none;
                li {
                    display: inline;
                }
            }
        }
    }
}
