@import 'normalize';
@import 'foundation';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'typography';
@import 'components/nav';
body {
    margin: 0;
    overflow-x: none;
    min-height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    .container {
        margin-top: 100px;
    }
    .video-container {
        div {
            display: flex;
            justify-content: center;
        }
    }
}